<!DOCTYPE html>


<html>

    
    <head>
        <link rel="stylesheet" href="/views/view.css">
        <script src="/views/view.js"></script>

        <title>Raspored</title>
    </head>
    

    <body>
    
        <div class="form-wrapper">
        
            <form name="rasporedForm" action="/raspored" method="POST">
            
                <h1>Unesite raspored</h1>
                <input type="text" placeholder="Naziv predmeta" name="formNaziv" class="formNaziv">
                <input type="text" placeholder="Aktivnost" name="formAktivnost">
				<input type="text" placeholder="Dan" name="formDan">
				<small id="tekstic">Vrijeme početka</small>

                <input type="time" id="appt" name="appt1" min="06:00" max="20:00" required>

				<small id="tekstic">Vrijeme kraja</small>

                <input type="time" id="appt" name="appt2" min="06:00" max="20:00" required>

            
               <button class="myButton" onclick="validateForm()">Posalji</button>
            
            </form>
        
        </div>
    
    
    
    </body>



</html>